{% extends 'portfolio/base.html' %}

{% block content %}

<div class="container text-center">
    <h1>Ashan Shanaka</h1>


    {% load static %}

    <img src="{% static 'portfolio/00000PORTRAIT_00000_BURST20190817150451254.jpg' %}" alt="myImage" width="450" height="450">

    <br><br><br>
    <hr>

    <div class="row">
        {% for project in projects %}
            <div class="col-md-4 col-sm-6">
                {% if project.url %}
                <a href="{{ project.url }}">
                    <h3>{{ project.title|truncatechars:15 }}</h3>
                    <h5>{{ project.description|truncatechars:20 }}</h5>
                    <img src="{{ project.image.url }}" class="image-fluid img-thumbnail" alt="image in the database"><br>
                </a>
                {% else %}
                    <h3>{{ project.title|truncatechars:15 }}</h3>
                    <h5>{{ project.description|truncatechars:20 }}</h5>
                    <img src="{{ project.image.url }}" class="image-fluid img-thumbnail" alt="image in the database"><br>
                {% endif %}
            </div>
        {% endfor %}
    </div>


</div>


{% endblock %}